<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/office-ui-fabric-core/11.1.0/css/fabric.min.css">
    <link rel="stylesheet" href="webpage.css">
</head>
<body>
    <div class="dashboard-container">
        <h1  class="ms-font-xxl">Our Dashboard</h1>
        <div class="dashboard-content">
            <div class="dashboard-left">
                <h2 class="ms-font-xl">Attrition</h2>
                <p>Data for voluntary and involuntary reasons for Attrition to track and analyze employee turnover within an organization systematically.</p>
                <h2 class="ms-font-xl">Position Dashboard</h2>
                <p>Overview on the position distribution as well as insights into the fidelity of the position report across business.</p>
                <h2 class="ms-font-xl">Clear the Pathway Analysis</h2>
                <p>Monitor and analyze employee career progression within an organization, identifying instances of lack of growth or advancement.</p>
                <h2 class="ms-font-xl">Young Talent Management (YTM) Analysis</h2>
                <p>Consolidated view of ABGLP & ELP demographics to the key stakeholders along with clear insights on attrition & movement analysis.</p>
                <button class="ms-Button ms-Button--primary" id="viewDashboardButton">
                    <span class="ms-Button-label">View Dashboard</span>
                </button>
            </div>
            <div class="dashboard-right">
                <h2 class="ms-font-xl">Movement Analysis Dashboard</h2>
                <p>Insights about the fungibility of talent and the degree to which employee movements are happening within the organization and focuses on 2*2*2 movement.</p>
                <h2 class="ms-font-xl">Career Velocity & Hiring Dashboard</h2>
                <p>Metrics to measure career velocity of Talents & Non Talents, internal and external hire across business.</p>
                <h2 class="ms-font-xl">Leadership Scorecard</h2>
                <p>Leadership scorecard provides metrics to measure the overall health of Talent Management.</p>
                <h2 class="ms-font-xl">Gender Diversity Dashboard</h2>
                <p>Provides metrics to understand Gender diversity across organizations.</p>
            </div>
        </div>
    </div>
    <script src="webpage.js"></script>
</body>
</html>
